.sidenav {
  height: 100%; 
  width: 140px; 
  position: right; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

h1{
  font-style:Montserrat;
  font-family:Georgia;
  font-size: 200%;
}

h2{
  text-decoration-line: underline;
  font-family: serif;
  font-style: Archivo narrow;
  font-size:200%;
}

h3{
   text-decoration-line: underline;
  font-family: serif;
  font-style: Archivo narrow;
  font-size:150%;
}

p{
  font-family:lato;
  font-size:120%;
}

li{
   font-family:lato;
  font-size:100%;
}

.end{
   font-family:anton;
  font-style: bebas neue;
   font-size:200%;
}
